.rank-head{
position: relative;
    margin-top: 10px;
}
.rank-title{

     position: absolute;
    left: 40%;
    top: 0%;
    font-size: 14px;
}
.rank-title p{
    margin-top: 10px;
}
.rank-head img {
    width: 35%;
    height:35%;
    margin-left: 10px;
    border-radius: 5%;


}
h3{
    margin-top: 10px;
    margin-left: 10px;
}

.recommend-head{

    margin-top: 40px;
}

.rank-recommend{
    display: grid;
    grid-template-rows: 1fr 1fr  ;
    grid-template-columns: 1fr 1fr  1fr;

    height: 301px;
    width: auto;
    margin-top: 30px;


}




.rank-recommend-item{
    position: relative;
}
.rank-recommend-item img{
    margin-left: 10px;
}

.rank-recommend img{
    width: 80%;
    height:70%;
}
.rank-recommend p{
    text-align: center;
    font-size: 14px;
}
.rank-recommend-time{
    position: absolute;
    font-size: 10px;
    left: 17px;
    top: 82px;
    color: white;
}